body {
    background-color: grey;
  }
  
  ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li.nav {
    float: left;
    border-right: 1px solid #bbb;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
  
  .active {
    background-color: #227876;
  }
  
  img {
    padding: 10px;
    border-radius: 15px;
  }
  
  p,
  li,
  table {
    margin-left: 15px;
    font-family: fantasy;
    font-size: x-large;
    font-weight: bolder;
  }
  
  input {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  input[type='submit'] {
    background-color: #207f4a;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }
  